bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json

# Logs
logs
*.log
npm-debug.log*


# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/